@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Silkscreen&display=swap');
.navbar{
  min-width: 270px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  background-color: white;
  z-index: 2;
  font-family: 'Silkscreen', cursive;
}
  

.nav-title{
  color: #4C4A59;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  
  
}
.logo{
  font-weight: 1000;
}
.nav-title:hover{
  color:rgb(204, 60, 50)

}
.nav-menu{
  color: rgb(255, 94, 0);
  display: flex;
  
}
.menu{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 3px dashed #4C4A59;;
}
.menu:last-child{
  border:none;
}

.nav-social{
  display: flex;
  justify-content: center;
  margin-right: 20px;
  align-items: center;
  
}
.nav-fold{
  position: absolute;
  right: 32px;
  display: none;
  border: none;
  
}
.nav-icon{
  position: relative;
  left:10px;
  font-size: 2em;
  color :gray;
}
@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
  }

  .nav-fold{
    display: block;
  }

  .nav-menu{
    display: none;
     
  }
 
  .nav-social{
    display: none;    
}

  .active{
  display: block;
    
}
.menu{
  border:none;
}
}
.intro{
  padding-top: 50px;
  background-color:#4CABA6;
  word-break: keep-all;
}
.intro-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.intro-photo{
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  border-radius: 20%;
  transition: all 0.3s ease-in-out;
}
.intro-padding{
  padding-top: 50px;
}
.intro-photo:hover{
  scale: 1.2;
}
.main-introduce{
  color:beige;
  font-size: 2em;
  font-weight: 1000;
  padding-bottom: 20px;
  text-align: center;
}
.sub-introduce{
  color:beige;
  font-size: 1.3em;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  
  
}
b{
  font-weight: 900;
}
.self-introduce-box{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F2CDAC;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5em;
  word-break: keep-all;
}
.self-border{
  padding-top: 20px;
  border-top:2px solid #4C4A59;
  padding-left: 15px;
  padding-right: 15px;
  
}
.skill-page{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #4C4A59;
  text-align: center;
  color: #F2CDAC;
  font-family: 'Silkscreen', cursive;
}  
.skill-info{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  top:100px;
}
.skillShow{
  opacity: 1;
  transition: all 1s ease-in-out;
  position: relative;
  top:0px;
}
  

.skill-icon{
  padding-top: 50px;
  font-size: 10em;
  color:#0897B4;
}
.skill-name{
  color: #F2CDAC;
  font-size: 2em;
  font-weight: 800;
}
.react.reveal{
  animation-delay: 1s;
}
.invisible{
  visibility: hidden;
}
.project-page{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  text-align: center;
  color: #4C4A59;
  font-family: 'Silkscreen', cursive;
}
.project-video{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 0.5s ease-in-out;
}
.project-video:hover{
  scale: 1.3;
}
.project-name{
  font-size: 1.4em;
  text-decoration: none;
  color: #4C4A59;
  transition: all 0.3s ease-in-out;
}
.project-name:hover{
  color: rgb(204, 60, 50);
}
.footer{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid #4C4A59;
  text-align: center;
  color:#4C4A59;
  font-family: 'Silkscreen', cursive;
}
